<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
   
    <add key="NumberOfCity" value="5"/>
	<add key="JsonFileAbsolutePath" value="C:\Users\pc\source\repos\WeatherReport\WeatherReport\bin\Debug\netcoreapp3.1\CityInformation\IndiaCity.json"/>
   
  </appSettings>
</configuration>